$accentColor = #22979b
$textColor = #0f4244
$bgColor = #fff

*::selection {
  background: $accentColor; 
  color: #fff;
}

div[class~="language-text"]:before {
  content: "text";
}

body> canvas,
body> object {
  position: fixed !important;
}

p {
  margin: 1em auto;
}

p code {
  user-select: all;
}

blockquote {
  border-left-width: 0.5rem !important;
  color: #679c9e !important;
  background-color: #eaecef;
}

blockquote > p {
  margin: .45em auto !important;
}

div[class*="language-"] pre {
  user-select: text;
}

h2+ul {
  margin: 1em 0;
}

.home-blog .home-blog-wrapper .info-wrapper {
  position: sticky;
  top: 70px;
}

.page > div {
  max-width: 1024px !important;
}

.fullscreen-wrapper {
  display: none;  
}

.abstract-item {
  display: block !important;  
}

.abstract-item:last-child {
  margin-bottom: 0 !important;
}