.code-copy {
  color: #aaa;
  display: inline-block;
  cursor: pointer;
}

div[class*="language-"] pre .code-copy,
div[class*="aside-code"] aside .code-copy {
  position: absolute;
  z-index: 1000;
  top: 5px;
  right: 40px;
  opacity: 0;
  font-size: 16px;
}

div[class*="language-"] pre:hover .code-copy,
div[class*="aside-code"] aside:hover .code-copy {
  opacity: 1;
}

.content pre,
.content pre[class*=language-] {
  overflow-y: hidden;
}

div[class*="language-"] pre,
div[class*="language-"] pre[class*="language-"] {
  position: static !important;
}